body {
    background-color: #337FE1;
    color: lightgrey;
    font-size: 16px;
    font-family: 'Arial', 'Antic Didone', serif;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

.body {
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}

h1 {
    font-family: 'Antic Didone', serif;
    font-size: 28px;
    color: black;
    text-align: center;
    padding: 30px;
}

a {
    font-size: 14px;
    text-decoration: underline;
    color: grey;
    margin: 0 auto;
    text-align: center;
}

.logo {
    width: 175px;
    padding: 10px;
    margin: 0 auto 40px;
    padding-top: 40px;
}

.center_box {
    background-color: white;
    width: 316px;
    padding-left: 40px;
    padding-right: 40px;
    border-radius: 2px;
    margin: 0 auto;
}

.form label {
    display: block;
    margin-bottom: 5px;
    color: black;
}

.form input,
.form button {
    margin-bottom: 15px;
    padding: 15px;
    border: 2px lightgrey solid;
}

.form input {
    width: 286px;
}

.form button {
    cursor: pointer;
    background-color: #56BB5D;
    color: white;
    font: 24px auto;
    height: 55px;
    width: 320px;
    border-radius: 3px;
}

button:hover {
    background-color: #0CB863;
    -webkit-transition: background 0.1s;
    -moz-transition: background 0.1s;
    -o-transition: background 0.1s;
    transition: background 0.1s;
}

.form input::placeholder {
    color: lightgrey;
    margin-bottom: 10px;
}

.form select {
    cursor: pointer;
}

footer {
    text-align: center;
    margin: 0 auto;
    padding: 50px;
}

p {
    text-align: center;
    padding-bottom: 30px;
    padding-top: 10px;
}

.footer {
    color: white;
    font-size: 16px;
}

.form input::-webkit-input-placeholder {
    /* Chrome/Opera/Safari */
    color: gray;
}

.form input::-moz-placeholder {
    /* Firefox 19+ */
    color: gray;
}

.form input:-ms-input-placeholder {
    /* IE 10+ */
    color: gray;
}

.form input:-moz-placeholder {
    /* Firefox 18- */
    color: gray;
}
